<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>325904644662-2fr6nmcg64a8uhi63onht4qoqkqc4m6g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.325904644662-2fr6nmcg64a8uhi63onht4qoqkqc4m6g</string>
	<key>API_KEY</key>
	<string>AIzaSyAQkCN-yzR26DvXeg8WyQ_gXVbUdLrnFzs</string>
	<key>GCM_SENDER_ID</key>
	<string>325904644662</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.perpustakaan</string>
	<key>PROJECT_ID</key>
	<string>perpustakaan-5ca18</string>
	<key>STORAGE_BUCKET</key>
	<string>perpustakaan-5ca18.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:325904644662:ios:57025714d90339bda4b697</string>
</dict>
</plist>